<div class="container-fluid">
    <div class="row header">        
            <div class="col-lg-3">
                <h5 class="confirmed">CONFIRMED : <span *ngIf="!loading">{{data_global.Confirmed}}</span></h5>
            </div>
            <div class="col-lg-3">
                <h5 class="recovered">RECOVERED : <span *ngIf="!loading">{{data_global.Recovered}}</span></h5>
            </div>
            <div class="col-lg-3">
                <h5 class="deaths">DEATHS : <span *ngIf="!loading">{{data_global.Deaths}}</span></h5>
            </div>
            <div class="col-lg-3">
                <h5 class="update"><span *ngIf="!loading">{{last_update|date:'medium'}}</span></h5>
            </div>    
    </div>
    <div class="row">
        <div class="col-lg-8 map-pan">
            <app-g-chart *ngIf="!loading" 
                                    [type]="'geochart'"
                                    [data]="data_confirmed"
                                    [options]="options"
                                    [elementId]="'covidMap'"></app-g-chart>
        </div>
        <div class="col-lg-4 statistics-pan">
            <div class="row">
                <app-g-chart *ngIf="!loading" 
                                    [type]="'columnchart'"
                                    [data]="data_confirmed_chart"
                                    [options]="optionsColumnChartConfirmed"
                                    [elementId]="'confirmedColumnChart'"></app-g-chart>
            </div>
            <div class="row">
                <app-g-chart *ngIf="!loading" 
                                    [type]="'columnchart'"
                                    [data]="data_recovered_chart"
                                    [options]="optionsColumnChartRecovered"
                                    [elementId]="'recoveredColumnChart'"></app-g-chart>
            </div>
            <div class="row">
                <app-g-chart *ngIf="!loading" 
                                    [type]="'columnchart'"
                                    [data]="data_deaths_chart"
                                    [options]="optionsColumnChartDeaths"
                                    [elementId]="'deathsColumnChart'"></app-g-chart>
            </div>
        </div>
    </div>
</div>